<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sweet-H Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="vendors/typicons/typicons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body ng-controller="StatisticsController">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo.svg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="images/avatar.jpg" alt="profile"/>
              <span class="nav-profile-name">Trần Văn Nhân</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" ng-click="logout()">
                <i class="typcn typcn-eject text-primary"></i>
                Đăng Xuất
              </a>
            </div>
          </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Bảng Điều Khiển</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'ADMIN'">
            <a class="nav-link" href="pages/quanlydanhmuc.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Danh Mục</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'STAFF'">
            <a class="nav-link" href="pages/quanlydanhmuc.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Xem DS Danh Mục</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'ADMIN'">
            <a class="nav-link" href="pages/quanlychungloai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Chủng Loại</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'STAFF'">
            <a class="nav-link" href="pages/quanlychungloai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Xem DS Chủng Loại</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'ADMIN'">
            <a class="nav-link" href="pages/quanlysanpham.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Sản Phẩm</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'STAFF'">
            <a class="nav-link" href="pages/quanlysanpham.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Xem DS Sản Phẩm</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'ADMIN'">
            <a class="nav-link" href="pages/quanlytaikhoan.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Tài Khoản</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'STAFF'">
            <a class="nav-link" href="pages/quanlytaikhoan.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Xem DS Tài Khoản</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'ADMIN'">
            <a class="nav-link" href="pages/quanlydonhang.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đơn Hàng</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'STAFF'">
            <a class="nav-link" href="pages/quanlydonhang.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đơn Hàng</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'ADMIN'">
            <a class="nav-link" href="pages/quanlykhuyenmai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Khuyến Mãi</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'STAFF'">
            <a class="nav-link" href="pages/quanlykhuyenmai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Xem DS Khuyến Mãi</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'ADMIN'">
            <a class="nav-link" href="pages/quanlydanhgia.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đánh Giá</span>
            </a>
          </li>
          <li class="nav-item" ng-if="accountInfo.role === 'STAFF'">
            <a class="nav-link" href="pages/quanlydanhgia.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Xem DS Đánh Giá</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
              <div class="col-xl-6 grid-margin stretch-card flex-column">
                  <h5 class="mb-2 text-titlecase mb-4">Thống kê theo ngày</h5>
                  <div class="row h-100">
                      <div class="col-md-12 stretch-card">
                          <div class="card">
                              <div class="card-body">
                                  <div class="d-flex justify-content-between align-items-start flex-wrap">
                                      <div>
                                          <p class="mb-3">Đơn Hàng</p>
                                          <h3>{{dailyOrdersCount}}</h3>
                                      </div>
                                      <div>
                                          <p class="mb-3">Sản Phẩm Bán Được</p>
                                          <h3>{{dailyProductsSoldCount}}</h3>
                                      </div>
                                      <div>
                                          <p class="mb-3">Doanh Thu</p>
                                          <h3>{{dailyRevenue}}</h3>
                                      </div>
                                  </div>
                                  <div class="w-50">
                                      <input type="date" class="form-control" ng-model="dailyDate" ng-change="getDailyStatistics(dailyDate)">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            <div class="col-xl-6 grid-margin stretch-card flex-column">
              <h5 class="mb-2 text-titlecase mb-4">Thống kê theo tháng</h5>
              <div class="row h-100">
                <div class="col-md-12 stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-start flex-wrap">
                        <div>
                          <p class="mb-3">Đơn Hàng</p>
                          <h3>{{monthlyOrdersCount}}</h3>
                        </div>
                        <div>
                          <p class="mb-3">Sản Phẩm Bán Được</p>
                          <h3>{{monthlyProductsSoldCount}}</h3>
                        </div>
                        <div>
                          <p class="mb-3">Doanh Thu</p>
                          <h3>{{monthlyRevenue}}</h3>
                        </div>
                      </div>
                      <div class="w-50">
                        <input type="month" class="form-control" ng-model="monthlyMonth" ng-change="getMonthlyStatistics(monthlyMonth)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body border-bottom">
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-2 mb-md-0 text-uppercase font-weight-medium">Overall sales</h6>
                    <div class="dropdown">
                      <button class="btn bg-white p-0 pb-1 text-muted btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Last 30 days
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                        <h6 class="dropdown-header">Settings</h6>
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="sales-chart-c" class="mt-2"></canvas>
                  <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3 mt-4">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <p class="text-muted">Gross Sales</p>
                      <h5>492</h5>
                      <div class="d-flex align-items-baseline">
                        <p class="text-success mb-0">0.5%</p>
                        <i class="typcn typcn-arrow-up-thick text-success"></i>
                      </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <p class="text-muted">Purchases</p>
                      <h5>87k</h5>
                      <div class="d-flex align-items-baseline">
                        <p class="text-success mb-0">0.8%</p>
                        <i class="typcn typcn-arrow-up-thick text-success"></i>
                      </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <p class="text-muted">Tax Return</p>
                      <h5>882</h5>
                      <div class="d-flex align-items-baseline">
                        <p class="text-danger mb-0">-04%</p>
                        <i class="typcn typcn-arrow-down-thick text-danger"></i>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="dropdown">
                      <button class="btn bg-white p-0 pb-1 pt-1 text-muted btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Last 7 days
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                        <h6 class="dropdown-header">Settings</h6>
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;">Separated link</a>
                      </div>
                    </div>
                    <p class="mb-0">overview</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card newsletter-card bg-gradient-warning">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <h5 class="mb-3 text-white">Newsletter</h5>
                        <form class="form d-flex flex-column align-items-center justify-content-between w-100">
                          <div class="form-group mb-2 w-100">
                            <input type="text" class="form-control" placeholder="email address">
                          </div>
                          <button class="btn btn-danger btn-rounded mt-1" type="submit">Subscribe</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 stretch-card">
                  <div class="card profile-card bg-gradient-primary">
                    <div class="card-body">
                      <div class="row align-items-center h-100">
                        <div class="col-md-4">
                          <figure class="avatar mx-auto mb-4 mb-md-0">
                            <img src="images/faces/face20.jpg" alt="avatar">
                          </figure>
                        </div>
                        <div class="col-md-8">
                          <h5 class="text-white text-center text-md-left">Phoebe Kennedy</h5>
                          <p class="text-white text-center text-md-left">kennedy@gmail.com</p>
                          <div class="d-flex align-items-center justify-content-between info pt-2">
                            <div>
                              <p class="text-white font-weight-bold">Birth date</p>
                              <p class="text-white font-weight-bold">Birth city</p>
                            </div>
                            <div>
                              <p class="text-white">16 Sep 2019</p>
                              <p class="text-white">Netherlands</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body border-bottom">
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-2 mb-md-0 text-uppercase font-weight-medium">Sales statistics</h6>
                    <div class="dropdown">
                      <button class="btn bg-white p-0 pb-1 text-muted btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Last 7 days
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton4">
                        <h6 class="dropdown-header">Settings</h6>
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <canvas id="sales-chart-d" height="320"></canvas>
                </div>
              </div>
            </div>
          </div> -->

          <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                      <p class="mb-2 text-md-center text-lg-left">Tổng Tài Khoản</p>
                      <h1 class="mb-0">{{totalAccounts}}</h1>
                    </div>
                    <i class="typcn typcn-group icon-xl text-secondary"></i>
                  </div>
                  <canvas id="expense-chart" height="80"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                      <p class="mb-2 text-md-center text-lg-left">Tổng Đơn Hàng</p>
                      <h1 class="mb-0">{{totalOrders}}</h1>
                    </div>
                    <i class="typcn typcn-clipboard icon-xl text-secondary"></i>
                  </div>
                  <canvas id="budget-chart" height="80"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between flex-wrap mb-4">
                    <div>
                      <p class="mb-2 text-md-center text-lg-left">Tổng Doanh Thu</p>
                      <h1 class="mb-0">{{totalRevenue}}</h1>
                    </div>
                    <i class="typcn typcn-database icon-xl text-secondary"></i>
                  </div>
                  <canvas id="balance-chart" height="80"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Được chỉnh sửa bởi <a href="" class="text-muted" target="_blank">Sweet-H</a> © 2024.</span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/angular/angular.min.js"></script>
  <script src="jsAdmin/app.js"></script>
  <script src="jsAdmin/statistics/statisticsService.js"></script>
  <script src="jsAdmin/statistics/statisticsController.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

