<!DOCTYPE html>
<html lang="en" ng-app="categoryApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet H Store - Cart</title>
    <link rel="icon" href="../../../static/img/logomian.png" type="image/jpg">
    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../vendors/linericon/style.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="../vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="../css/cart.css">
    <!-- Thư viện CSS Font Awesome -->



    <link rel="stylesheet" href="../css/style.css">
</head>

<body ng-controller="ProductController">
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="../index.html"><img height="52px;" width="252px" src="../img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="../index.html">Trang Chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="category.html">Cửa Hàng</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Liên Hệ</a></li>
                        </ul>
                        <ul class="nav-shop">
                            <!-- User Dropdown -->
                            <li class="nav-item dropdown" ng-if="!isLogin">
                                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-user"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="pages/login.html">Đăng Nhập</a>
                                    <a class="dropdown-item" href="pages/register.html">Đăng Ký</a>
                                </div>
                            </li>
                            <li class="nav-item" ng-if="isLogin">
                                <a class="nav-link" ng-href="pages/profile.html">
                                    <i class="ti-user"></i>
                                </a>
                            </li>


                            <li class="nav-item"><a href="cart.html"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">{{cart.length}}</span></button></a></li>
                            <li class="nav-item"><a class="button button-header" href="category.html">Mua Ngay</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!-- ================ start banner area ================= -->


    <!-- ================ end banner area ================= -->



    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr class="fixed-width">
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Kích Thước</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cart track by $index">
                                <td class="fixed-width">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img class="cart-item__thumbnail" ng-src="{{ item.thumbnailImage }}" alt="{{ item.name }}">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ item.name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="fixed-width">
                                    <h5>{{ item.price.toLocaleString("vi-VN", {style:"currency", currency:"VND"}) }}</h5>
                                </td>
                                <td class="fixed-width">{{item.size}}</td>
                                <td class="fixed-width">
                                    <div class="product_count">
                                        <input type="text" name="qty" maxlength="12" ng-model="item.quantity" title="Quantity:" class="input-text qty">
                                        <button ng-click="increaseQuantity(item)" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button ng-click="decreaseQuantity(item)" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td class="fixed-width">
                                    <h5>{{ (item.price * item.quantity).toLocaleString("vi-VN", {style:"currency", currency:"VND"}) | floor}}</h5>
                                </td>
                            </tr>


                            <tr class="out_button_area">
                                <td class="total" ng-if="cart.length > 0" colspan="2">
                                    <h4 class="total-amount">Tổng Tiền:<span class="total-label"> {{ calculateTotal().toLocaleString("vi-VN", {style:"currency", currency:"VND"}) | floor }}</span></h4>
                                </td>
                                <td class="fixed-width">
                                    <a class="buttonremovecart" href="#" ng-click="clearCart()">Xóa Giỏ Hàng</a>
                                </td>

                                <td>

                                </td>
                               <td>  <div class="checkout_btn_inner d-flex justify-content-end align-items-center">
                                   <a class="gray_btn mr-2" href="category.html">Tiếp tục mua sắm</a>
                                   <a class="primary-btn" href="checkout.html">Thanh Toán</a>
                               </div></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

    <!--================End Cart Area =================-->



    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Nhiệm vụ</h4>
                            <p>
                                Hãy gieo hạt giống màu xanh mà gia súc có cánh ở đó. Tập hợp những thứ được tạo ra, bay mà không bị chia cắt, di chuyển chúng tôi vào đất liền, tập hợp những thứ sống động của chúng tôi vào đất liền qua nhiều năm
                            </p>
                            <p>
                                Gieo hạt giống xanh nơi gia súc có cánh ở. Tập hợp những thứ được tạo ra, bay mà không bị chia cắt, di chuyển sâu.
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Truy cập nhanh</h4>
                            <ul class="list">
                                <li><a href="..//index.html">Trang Chủ</a></li>
                                <li><a href="category.html">Cửa Hàng</a></li>
                                <li><a href="cart.html">Giỏ Hàng</a></li>
                                <li><a href="contact.html">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Phòng trưng bày</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="../img/gallery/r1.jpg" alt=""></li>
                                <li><img src="../img/gallery/r2.jpg" alt=""></li>
                                <li><img src="../img/gallery/r3.jpg" alt=""></li>
                                <li><img src="../img/gallery/r5.jpg" alt=""></li>
                                <li><img src="../img/gallery/r7.jpg" alt=""></li>
                                <li><img src="../img/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Liên hệ chúng tôi</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span> Sweet H Store
                                </p>
                                <p>CV Phần mềm quang trung, quận 12, TP. Hồ Chí Minh</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span> Phone Number
                                </p>
                                <p>
                                    0372668219 <br> 0373407353
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span> Email
                                </p>
                                <p>
                                    sweethstore@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--================ End footer Area  =================-->


    <script src="../vendors/angular/angular.min.js"></script>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../vendors/skrollr.min.js"></script>
    <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="../vendors/jquery.ajaxchimp.min.js"></script>
    <script src="../vendors/mail-script.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/category.js"></script>
    <script src="../js/main.js"></script>

    <!-- <script>
        function toggleDiscountCodeInput(checkbox) {
            var discountInput = document.getElementById('discount_code_input');
            discountInput.style.display = checkbox.checked ? 'inline-block' : 'none';
        }
    </script> -->

</body>

</html>