<!DOCTYPE html>
<html lang="en" ng-app="checkoutApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet H Store - Checkout</title>
    <link rel="icon" href="../img/logoshop.jpg" type="image/jpg">

    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../vendors/linericon/style.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="../vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="../css/style.css">
</head>

<body ng-controller="CheckoutController">
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="../index.html"><img style="width: 126px; height: 26px" src="../img/logo.jpg" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="../index.html">Trang Chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="category.html">Của Hàng</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Liên Hệ</a></li>
                        </ul>
                        <ul class="nav-shop">
                            <li class="nav-item"><a href="cart.html"><button><i class="ti-user"></i></button> </a></li>
                            <li class="nav-item"><a href="cart.html"><button><i class="ti-shopping-cart"></i><span
                                    class="nav-shop__circle">{{cart.length}}</span></button> </a></li>
                            <li class="nav-item"><a class="button button-header" href="category.html">Mua Ngay</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!-- ================ start banner area ================= -->

    <!-- ================ end banner area ================= -->


    <!--================Checkout Area =================-->
    <section class="checkout_area section-margin--small">
        <div class="container">
            <div class="returning_customer">
                <div class="check_title">
                    <h2>Phản hồi khách hàng? <a href="#">Nhấn vào đây để đăng nhập</a></h2>
                </div>
                <p>Nếu bạn đã từng mua hàng với chúng tôi trước đây, vui lòng nhập thông tin chi tiết của bạn vào các ô bên dưới. Nếu bạn là khách hàng mới, vui lòng chuyển sang phần Thanh toán & Vận chuyển.</p>
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" placeholder="Tài khoản*" onfocus="this.placeholder=''" onblur="this.placeholder = 'Tài khoản*'" id="name" name="name">
                        <!-- <span class="placeholder" data-placeholder="Username or Email"></span> -->
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="password" class="form-control" placeholder="Mật khẩu*" onfocus="this.placeholder=''" onblur="this.placeholder = 'Mật khẩu*'" id="password" name="password">
                        <!-- <span class="placeholder" data-placeholder="Password"></span> -->
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="button button-login">Đăng Nhập</button>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option" name="selector">
                            <label for="f-option">Ghi nhớ tôi?</label>
                        </div>
                        <a class="lost_pass" href="#">Quên mật khẩu?</a>
                    </div>
                </form>
            </div>
            <div class="cupon_area">
                <div class="check_title">
                    <h2>Có phiếu giảm giá? <a href="#">Bấm vào đây để nhập mã của bạn</a></h2>
                </div>
                <input type="text" placeholder="Nhập mã">
                <a class="button button-coupon" href="#">Áp dụng phiếu giảm giá</a>
            </div>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Chi tiết thanh toán</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="first" name="name" placeholder="Họ">
                                <span class="placeholder" data-placeholder="First name"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" name="name" placeholder="Tên">
                                <span class="placeholder" data-placeholder="Last name"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="company" name="company" placeholder="Số Điện Thoại">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="number" name="number" placeholder="Thành Phố">
                                <span class="placeholder" data-placeholder="Phone number"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" name="compemailany" placeholder="Huyện">
                                <span class="placeholder" data-placeholder="Email Address"></span>
                            </div>
                            <!--                            <div class="col-md-12 form-group p_star">-->
                            <!--                                <select class="country_select">-->
                            <!--                                <option value="1">Country</option>-->
                            <!--                                <option value="2">Country</option>-->
                            <!--                                <option value="4">Country</option>-->
                            <!--                            </select>-->
                            <!--                            </div>-->
                            <!--                            <div class="col-md-12 form-group p_star">-->
                            <!--                                <input type="text" class="form-control" id="add1" name="add1">-->
                            <!--                                <span class="placeholder" data-placeholder="Address line 01"></span>-->
                            <!--                            </div>-->
                            <!--                            <div class="col-md-12 form-group p_star">-->
                            <!--                                <input type="text" class="form-control" id="add2" name="add2">-->
                            <!--                                <span class="placeholder" data-placeholder="Address line 02"></span>-->
                            <!--                            </div>-->
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" name="city" placeholder="Địa chỉ cụ thể">
                                <span class="placeholder" data-placeholder="Town/City"></span>
                            </div>
                            <!--                            <div class="col-md-12 form-group p_star">-->
                            <!--                                <select class="country_select">-->
                            <!--                                <option value="1">District</option>-->
                            <!--                                <option value="2">District</option>-->
                            <!--                                <option value="4">District</option>-->
                            <!--                            </select>-->
                            <!--                            </div>-->

                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector">
                                    <label for="f-option2">Tạo một tài khoản?</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group mb-0">
                                <div class="creat_account">
                                    <h3>Chi tiết vận chuyển</h3>
                                    <input type="checkbox" id="f-option3" name="selector">
                                    <label for="f-option3">Gửi đến một địa chỉ khác?</label>
                                </div>
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Đơn hàng của bạn</h2>
                            <ul class="list" >
                                <li>
                                    <a href="#">
                                        <h4>Sản Phẩm <span>Tổng</span></h4>
                                    </a>
                                </li>
                                <!-- phần code sản phẩm lên  -->
                                <li ng-repeat="product in cart track by $index"><a ng-href="single-product.html?id={{ product.id }}">{{product.name}} <span class="middle">x{{product.quantity}}</span> <span class="last">{{(product.price * product.quantity).toLocaleString("vi-VN", {style:"currency", currency:"VND"}) | floor}}</span></a></li>
                                <!-- <li><a href="#">Fresh Tomatoes <span class="middle">x 02</span> <span class="last">$720.00</span></a></li>
                                <li><a href="#">Fresh Brocoli <span class="middle">x 02</span> <span class="last">$720.00</span></a></li> -->
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Tổng phụ <span>{{ calculateTotal().toLocaleString("vi-VN", {style:"currency", currency:"VND"}) | floor }}</span></a></li>
                                <li><a href="#">Vận Chuyển <span>Flat rate: 50.000</span></a></li>
                                <li><a href="#">Tổng cộng <span>{{ (calculateTotal() + 50000).toLocaleString("vi-VN", {style:"currency", currency:"VND"}) | floor }}</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">Thanh toàn khi nhận hàng</label>
                                    <div class="check"></div>
                                </div>
                                <p>Vui lòng thanh toán cho shipper khi nhận hàng</p>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">Ví VNPAY </label>
                                    <img src="../img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Thanh toán qua ví điện tử VNPAY
                                </p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">Tôi đã đọc và chấp nhận </label>
                                <a href="#">Điều khoản và điều kiện*</a>
                            </div>
                            <div class="text-center">
                                <form action="" method="post">
                                    <button class="button button-paypal" type="submit">Tiếp tục với VNPAY</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->



    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Nhiệm vụ</h4>
                            <p>
                                Hãy gieo hạt giống màu xanh mà gia súc có cánh ở đó. Tập hợp những thứ được tạo ra, bay mà không bị chia cắt, di chuyển chúng tôi vào đất liền, tập hợp những thứ sống động của chúng tôi vào đất liền qua nhiều năm
                            </p>
                            <p>
                                Gieo hạt giống xanh nơi gia súc có cánh ở. Tập hợp những thứ được tạo ra, bay mà không bị chia cắt, di chuyển sâu.
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Truy cập nhanh</h4>
                            <ul class="list">
                                <li><a href="..//index.html">Trang Chủ</a></li>
                                <li><a href="category.html">Cửa Hàng</a></li>
                                <li><a href="cart.html">Giỏ Hàng</a></li>
                                <li><a href="contact.html">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Phòng trưng bày</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="../img/gallery/r1.jpg" alt=""></li>
                                <li><img src="../img/gallery/r2.jpg" alt=""></li>
                                <li><img src="../img/gallery/r3.jpg" alt=""></li>
                                <li><img src="../img/gallery/r5.jpg" alt=""></li>
                                <li><img src="../img/gallery/r7.jpg" alt=""></li>
                                <li><img src="../img/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Liên hệ chúng tôi</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span> Sweet H Store
                                </p>
                                <p>CV Phần mềm quang trung, quận 12, TP. Hồ Chí Minh</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span> Phone Number
                                </p>
                                <p>
                                    0372668219 <br> 0373407353
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span> Email
                                </p>
                                <p>
                                    sweethstore@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--================ End footer Area  =================-->


    <script src="../vendors/angular/angular.min.js"></script>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../vendors/skrollr.min.js"></script>
    <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="../vendors/jquery.ajaxchimp.min.js"></script>
    <script src="../vendors/mail-script.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/checkout.js"></script>
</body>

</html>