<!DOCTYPE html>
<html lang="en" ng-app="confirmationApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet H Store</title>
    <link rel="icon" href="../../../static/img/logomian.png" type="image/jpg">
    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../vendors/linericon/style.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="../vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body id="loading" style="display: none;" ng-controller="confirmationController">
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="../index.html"><img height="52px;" width="252px" src="../img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="../index.html">Trang Chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="category.html">Cửa Hàng</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Liên Hệ</a></li>
                        </ul>
                        <ul class="nav-shop">
                            <!-- User Dropdown -->
                            <li class="nav-item dropdown" ng-if="!isLogin">
                                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-user"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="login.html">Đăng Nhập</a>
                                    <a class="dropdown-item" href="register.html">Đăng Ký</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" ng-if="isLogin">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../img/anhdaidien.png" alt="User Profile" class="img-profile">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="profile.html">Thông Tin Cá Nhân</a>
                                    <a class="dropdown-item" href="profile.html">Đổi Mật Khẩu</a>
                                    <a class="dropdown-item" href="#" ng-click="logout()">Đăng Xuất</a>
                                </div>
                            </li>


                            <li class="nav-item"><a href="cart.html"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">0</span></button></a></li>
                            <li class="nav-item"><a class="button button-header" href="category.html">Mua Ngay</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!-- ================ start banner area ================= -->

    <!-- ================ end banner area ================= -->

    <!--================Order Details Area =================-->
    <section class="order_details section-margin--small">
        <div class="container">
            <p class="text-center billing-alert">Cảm ơn. Đơn đặt hàng của bạn đã được nhận. Đã nhận được đơn đặt hàng của bạn.</p>
            <div class="row mb-5">
                <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                    <div class="confirmation-card">
                        <h3 class="billing-title" style="color: black !important;">Thông tin đơn hàng:</h3>
                        <table class="order-rable">
                            <tr>
                                <td>Mã đơn hàng: {{orderInfo.id}}</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>Ngày: {{orderInfo.orderDate}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tổng Cộng: {{orderInfo.totalAmount.toLocaleString("vi-VN", {style:"currency", currency:"VND"})}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Phương thức thanh toán: ship/vnpay</td>
                                <td> </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                    <div class="confirmation-card">
                        <h3 class="billing-title">Địa Chỉ</h3>
                        <table class="order-rable">
                            <tr>
                                <td>Thành Phố: </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>Quận: </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>Phường: </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Mã đơn hàng: </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div> -->
                <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                    <div class="confirmation-card">
                        <h3 class="billing-title" style="color: black !important;">Người Nhận:</h3>
                        <table class="order-rable">
                            <tr>
                                <td>Họ Tên: </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>SĐT: </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>Địa Chỉ: </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Chi tiết đặt hàng</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Tổng Cộng</th>
                            </tr>
                        </thead>


                        <!-- phần code sản phẩm lên  -->

                        <tbody>
                            <tr ng-repeat="orderDetails in orderInfo.orderDetails">
                                <td>
                                    <p>{{orderDetails.product.name}}</p>
                                </td>
                                <td>
                                    <h5>x {{orderDetails.quantity}}</h5>
                                </td>
                                <td>
                                    <p>{{orderDetails.price.toLocaleString("vi-VN", {style:"currency", currency:"VND"})}}</p>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <p>Pixelstore fresh Blackberry</p>
                                </td>
                                <td>
                                    <h5>x 02</h5>
                                </td>
                                <td>
                                    <p>$720.00</p>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>
                                    <p>Pixelstore fresh Blackberry</p>
                                </td>
                                <td>
                                    <h5>x 02</h5>
                                </td>
                                <td>
                                    <p>$720.00</p>
                                </td>
                            </tr> -->
                            <tr>
                                <td>
                                    <h4>Tổng phụ</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>{{(orderInfo.totalAmount - 50000).toLocaleString("vi-VN", {style:"currency", currency:"VND"})}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Vận Chuyển</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>50000</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Tổng</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <h4>{{orderInfo.totalAmount.toLocaleString("vi-VN", {style:"currency", currency:"VND"})}}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Order Details Area =================-->



    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Nhiệm vụ</h4>
                            <p>
                                Hãy gieo hạt giống màu xanh mà gia súc có cánh ở đó. Tập hợp những thứ được tạo ra, bay mà không bị chia cắt, di chuyển chúng tôi vào đất liền, tập hợp những thứ sống động của chúng tôi vào đất liền qua nhiều năm
                            </p>
                            <p>
                                Gieo hạt giống xanh nơi gia súc có cánh ở. Tập hợp những thứ được tạo ra, bay mà không bị chia cắt, di chuyển sâu.
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Truy cập nhanh</h4>
                            <ul class="list">
                                <li><a href="..//index.html">Trang Chủ</a></li>
                                <li><a href="category.html">Cửa Hàng</a></li>
                                <li><a href="cart.html">Giỏ Hàng</a></li>
                                <li><a href="contact.html">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Phòng trưng bày</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="../img/gallery/r1.jpg" alt=""></li>
                                <li><img src="../img/gallery/r2.jpg" alt=""></li>
                                <li><img src="../img/gallery/r3.jpg" alt=""></li>
                                <li><img src="../img/gallery/r5.jpg" alt=""></li>
                                <li><img src="../img/gallery/r7.jpg" alt=""></li>
                                <li><img src="../img/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Liên hệ chúng tôi</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span> Sweet H Store
                                </p>
                                <p>CV Phần mềm quang trung, quận 12, TP. Hồ Chí Minh</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span> Phone Number
                                </p>
                                <p>
                                    0372668219 <br> 0373407353
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span> Email
                                </p>
                                <p>
                                    sweethstore@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--================ End footer Area  =================-->



    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../vendors/skrollr.min.js"></script>
    <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="../vendors/nouislider/nouislider.min.js"></script>
    <script src="../vendors/jquery.ajaxchimp.min.js"></script>
    <script src="../vendors/mail-script.js"></script>
    <script src="../vendors/angular/angular.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/category.js"></script>
    <script src="../js/singleProduct.js"></script>
    <script src="../js/confirmation.js"></script>
</body>

</html>