<!DOCTYPE html>
<html lang="en" ng-app="profileApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet H Store - Profile</title>
    <link rel="icon" href="../../../static/img/logomian.png" type="image/jpg">
    <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../vendors/linericon/style.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="../vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="../css/cart.css">
    <!-- Thư viện CSS Font Awesome -->

    <link rel="stylesheet" href="../css/style.css">
</head>

<body ng-controller="ProfileController">
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="../index.html"><img height="52px;" width="252px" src="../img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Trang Chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="category.html">Cửa Hàng</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Liên Hệ</a></li>
                        </ul>
                        <ul class="nav-shop">
                            <!-- User Dropdown -->
                            <li class="nav-item dropdown" ng-if="!isLogin">
                                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-user"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="login.html">Đăng Nhập</a>
                                    <a class="dropdown-item" href="register.html">Đăng Ký</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown" ng-if="isLogin">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../img/anhdaidien.png" alt="User Profile" class="img-profile">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="profile.html">Thông Tin Cá Nhân</a>
                                    <a class="dropdown-item" href="profile.html">Đổi Mật Khẩu</a>
                                    <a class="dropdown-item" href="#" ng-click="logout()">Đăng Xuất</a>
                                </div>
                            </li>


                            <li class="nav-item"><a href="cart.html"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">{{cart.length}}</span></button></a></li>
                            <li class="nav-item"><a class="button button-header" href="category.html">Mua Ngay</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Checkout Area =================-->
    <section class="checkout_area section-margin--small">
        <div class="container">
            <div class="returning_customer">
                <button type="submit" value="submit" ng-click="logout()" class="btn button" style="margin-left: 920px">Đăng Xuất</button>
                <div class="billing_details">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Thông tin tài khoản</h3>
                            <form class="row contact_form" name="profileForm" ng-submit="profileForm.$valid && updateAccount()" novalidate>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="last" name="name" placeholder="Họ Tên" ng-model="userInfo.fullName" required>
                                    <span class="text-danger" ng-show="profileForm.name.$touched && profileForm.name.$error.required">
            Vui lòng nhập Họ Tên.
        </span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="number" name="number" placeholder="Số điện thoại" ng-model="userInfo.phone" ng-pattern="/^\d{10}$/" required>
                                    <span class="text-danger" ng-show="profileForm.number.$touched && profileForm.number.$error.required">
        Vui lòng nhập Số Điện Thoại.
    </span>
                                    <span class="text-danger" ng-show="profileForm.number.$touched && profileForm.number.$error.pattern">
        Số điện thoại phải gồm 10 chữ số.
    </span>
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="userInfo.email" required>
                                    <span class="text-danger" ng-show="profileForm.email.$touched && profileForm.email.$error.required">
            Vui lòng nhập Email.
        </span>
                                    <span class="text-danger" ng-show="profileForm.email.$touched && profileForm.email.$error.email">
            Email không hợp lệ.
        </span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Số Nhà/Địa Chỉ Cụ Thể" ng-model="userInfo.address" required>
                                    <span class="text-danger" ng-show="profileForm.address.$touched && profileForm.address.$error.required">
            Vui lòng nhập Địa Chỉ.
        </span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn button" style="width: 100%;">Sửa Thông Tin</button>
                                </div>
                            </form>

                        </div>
                        <div class="col-lg-6 forgotpass">
                            <h3 class="mt-3">Đổi Mật Khẩu</h3>
                            <form class="row contact_form" name="passwordForm" ng-submit="passwordForm.$valid && changePassword()" novalidate>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Mật khẩu cũ" ng-model="passwordData.oldPassword" required>
                                    <span class="text-danger" ng-show="passwordForm.oldPassword.$touched && passwordForm.oldPassword.$error.required">
            Vui lòng nhập mật khẩu cũ.
        </span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Mật khẩu mới" ng-model="passwordData.newPassword" required>
                                    <span class="text-danger" ng-show="passwordForm.newPassword.$touched && passwordForm.newPassword.$error.required">
            Vui lòng nhập mật khẩu mới.
        </span>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Xác nhận mật khẩu mới" ng-model="passwordData.confirmNewPassword" required ng-change="checkPasswordMatch()">
                                    <span class="text-danger" ng-show="passwordForm.confirmNewPassword.$touched && passwordForm.confirmNewPassword.$error.required">
            Vui lòng xác nhận mật khẩu mới.
        </span>
                                    <span class="text-danger" ng-show="passwordData.confirmNewPassword !== passwordData.newPassword && passwordForm.confirmNewPassword.$touched">
            Mật khẩu xác nhận không khớp với mật khẩu mới.
        </span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn button" style="width: 100%;">Đổi Mật Khẩu</button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <div class="w-100">
                                <h3 class="w-100">Thông tin đơn hàng</h3>
                                <table class="w-100 text-center table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày</th>
                                            <th>Tổng tiền</th>
                                            <th>Phương thức thanh toán</th>
                                            <th>Trạng Thái</th>
                                            <th>Xem thông tin</th>
                                            <th>Hủy</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="order in userOrders">
                                            <td>{{order.id}}</td>
                                            <td>{{order.orderDate | customDateFormat}}</td>
                                            <td>{{order.totalAmount.toLocaleString("vi-VN", {style:"currency", currency:"VND"}) }}</td>
                                            <td>{{order.payment}}</td>
                                            <td>{{order.status}}</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm" style="border-radius: 20px;" ng-click="viewOrderDetail(order)">
                                                    Xem Chi Tiết
                                                </button>
                                            </td>
                                            <td>
                                                <!-- Nút Hủy Đơn sẽ bị khóa nếu trạng thái là "ĐÃ THANH TOÁN" hoặc "Cancelled" -->
                                                <button class="btn btn-primary btn-sm" style="border-radius: 20px;" ng-disabled="order.status === 'ĐÃ THANH TOÁN' || order.status === 'Cancelled'">
                                                    Hủy Đơn
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal Chi Tiết Đơn Hàng -->
    <div class="modal fade order-detail-modal" id="orderDetailModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderDetailModalLabel">Chi Tiết Đơn Hàng</h5>
                </div>
                <div class="modal-body">
                    <table class="table text-center">
                        <thead>
                            <tr class="fixed-width">
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Kích Thước</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in selectedOrder.orderDetails">
                                <td class="fixed-width">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img class="cart-item__thumbnail" ng-src="{{ item.product.thumbnailImage }}" alt="{{ item.name }}">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ item.product.name }}</p>
                                        </div>
                                        <!-- Đóng thẻ div này -->
                                    </div>
                                    <!-- Đóng thẻ div này -->
                                </td>
                                <td class="fixed-width">
                                    <h5 style="color: #777 !important">{{ (item.price - 50000).toLocaleString("vi-VN", {style:"currency", currency:"VND"}) }}</h5>
                                </td>
                                <td class="fixed-width">{{item.size}}</td>
                                <td class="fixed-width">{{item.quantity}}</td>
                                <td class="fixed-width">
                                    <h5 style="color: #777 !important">{{ (item.price * item.quantity - 50000).toLocaleString("vi-VN", {style:"currency", currency:"VND"}) }}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <!-- Phần tổng tiền đơn hàng -->
                    <div class="order-total">
                        <h5 style="color: #333 !important; font-weight: bold !important; font-size: 24px !important;">
                            Tổng Đơn Hàng: {{ selectedOrder.totalAmount.toLocaleString("vi-VN", {style:"currency", currency:"VND"}) }}
                        </h5>
                        <button type="button" class="btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--================End Checkout Area =================-->



    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Nhiệm vụ</h4>
                            <p>
                                Hãy gieo hạt giống màu xanh mà gia súc có cánh ở đó. Tập hợp những thứ được tạo ra, bay mà không bị chia cắt, di chuyển chúng tôi vào đất liền, tập hợp những thứ sống động của chúng tôi vào đất liền qua nhiều năm
                            </p>
                            <p>
                                Gieo hạt giống xanh nơi gia súc có cánh ở. Tập hợp những thứ được tạo ra, bay mà không bị chia cắt, di chuyển sâu.
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Truy cập nhanh</h4>
                            <ul class="list">
                                <li><a href="..//index.html">Trang Chủ</a></li>
                                <li><a href="category.html">Cửa Hàng</a></li>
                                <li><a href="cart.html">Giỏ Hàng</a></li>
                                <li><a href="contact.html">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Phòng trưng bày</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="../img/gallery/r1.jpg" alt=""></li>
                                <li><img src="../img/gallery/r2.jpg" alt=""></li>
                                <li><img src="../img/gallery/r3.jpg" alt=""></li>
                                <li><img src="../img/gallery/r5.jpg" alt=""></li>
                                <li><img src="../img/gallery/r7.jpg" alt=""></li>
                                <li><img src="../img/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Liên hệ chúng tôi</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span> Sweet H Store
                                </p>
                                <p>CV Phần mềm quang trung, quận 12, TP. Hồ Chí Minh</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span> Phone Number
                                </p>
                                <p>
                                    0372668219 <br> 0373407353
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span> Email
                                </p>
                                <p>
                                    sweethstore@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--================ End footer Area  =================-->

    <script src="../vendors/angular/angular.min.js"></script>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../vendors/skrollr.min.js"></script>
    <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="../vendors/jquery.ajaxchimp.min.js"></script>
    <script src="../vendors/mail-script.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/category.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/profile.js"></script>

</body>

</html>