<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="../index.html">
            <i class="typcn typcn-device-desktop menu-icon"></i>
            <span class="menu-title">Bảng Điều Khiển</span>
            <!-- <div class="badge badge-danger">new</div> -->
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="quanlydanhmuc.html">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">Quản Lý Danh Mục</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="quanlychungloai.html">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">Quản Lý Chủng Loại</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="quanlysanpham.html">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">Quản Lý Sản Phẩm</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="quanlytaikhoan.html">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">Quản Lý Tài Khoản</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="quanlydonhang.html">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">Quản Lý Đơn Hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="quanlykhuyenmai.html">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">Quản Lý Khuyến Mãi</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="quanlydanhgia.html">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">Quản Lý Đánh Giá</span>
        </a>
    </li>
</ul>
<script src="../js/off-canvas.js"></script>
<script src="../js/hoverable-collapse.js"></script>
<script src="../js/template.js"></script>
<script src="../js/todolist.js"></script>