<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sweet-H Admin | Quản Lý Chủng Loại</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css"/>
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../images/favicon.png"/>
</head>

<body ng-cloak>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav ng-include="'../partials/_navbar.html'" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    </nav>
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div ng-include="'../partials/_settings-panel.html'" class="theme-setting-wrapper">
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav ng-include="'../partials/_sidebar.html'" class="sidebar sidebar-offcanvas" id="sidebar">
        </nav>
        <!-- partial -->
        <div class="main-panel" ng-controller="CategoryController">
            <div class="content-wrapper mb-0">
                <div class="row mb-0">
                    <div class="col-md-4 grid-margin stretch-card mb-0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Thông Tin Chủng Loại</h4>
                                <form class="forms-sample">
                                    <div class="form-group">
                                        <label for="name">Tên Chủng Loại</label>
                                        <input type="text" class="form-control" id="name" ng-model="category.name"
                                               placeholder="Tên Chủng Loại">
                                    </div>
                                    <div class="form-group">
                                        <label for="categorySelect">Thuộc Danh Mục</label>
                                        <select class="form-control form-control-lg" id="categorySelect"
                                                ng-model="category.itemId"
                                                ng-options="item.id as item.name for item in items">
                                            <option value="">Chọn Danh Mục</option>
                                        </select>
                                    </div>
                                    <div ng-show="message" class="alert"
                                         ng-class="{'alert-success': isSuccess, 'alert-danger': !isSuccess}">{{ message
                                        }}
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-inverse-success mr-2"
                                                ng-click="createCategory()" ng-show="!isEditMode">Thêm
                                        </button>
                                        <button type="button" class="btn btn-inverse-warning mr-2"
                                                ng-click="updateCategory()" ng-show="isEditMode">Cập Nhật
                                        </button>
                                        <button type="button" class="btn btn-inverse-danger mr-2"
                                                ng-click="deleteCategory(category.id)" ng-show="isEditMode">Xoá
                                        </button>
                                        <button type="button" class="btn btn-inverse-info mr-2" ng-click="resetForm()">
                                            Làm Mới
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 grid-margin stretch-card mb-0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh Sách Chủng Loại</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Tên Chủng Loại</th>
                                            <th>Thuộc Danh Mục</th>
                                            <th>Số Sản Phẩm</th>
                                            <th>Hành Động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="cat in categories"
                                            ng-class="{ 'table-success': cat.id === highlightedCategoryId }">
                                            <td>{{ cat.name }}</td>
                                            <td>{{ cat.itemName }}</td>
                                            <td>{{ cat.productCount }}</td>
                                            <td>
                                                <button type="button" class="btn btn-inverse-info btn-sm"
                                                        ng-click="editCategory(cat.id)">Chỉnh Sửa
                                                </button>
                                                <button type="button" class="btn btn-inverse-danger btn-sm"
                                                        ng-click="deleteCategory(cat.id)">Xoá
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mt-2">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-secondary"
                                                ng-disabled="currentPage === 0" ng-click="previousPage()">
                                            <i class="mdi mdi-chevron-double-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                ng-repeat="page in paginationButtons"
                                                ng-class="{ 'btn-primary': page === currentPage }"
                                                ng-click="goToPage(page)">
                                            {{ page + 1 }}
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                ng-disabled="currentPage === totalPages - 1" ng-click="nextPage()">
                                            <i class="mdi mdi-chevron-double-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer" ng-include="'../partials/_footer.html'">
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- base:js -->
<script src="../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="../vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../js/off-canvas.js"></script>
<script src="../js/hoverable-collapse.js"></script>
<script src="../js/template.js"></script>
<script src="../js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../js/angular/angular.min.js"></script>
<script src="../jsAdmin/app.js"></script>
<script src="../jsAdmin/loginlogout.js"></script>
<script src="../jsAdmin/category/categoryService.js"></script>
<script src="../jsAdmin/item/itemService.js"></script>
<script src="../jsAdmin/category/categoryController.js"></script>
<!-- End custom js for this page-->
</body>

</html>