<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sweet-H Admin | Quản Lý Sản Phẩm</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
</head>

<body>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="../index.html"><img src="../images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="../index.html"><img src="../images/logo-mini.svg"
              alt="logo" /></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="../images/avatar.jpg" alt="profile" />
              <span class="nav-profile-name">Trần Văn Nhân</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">

              <a class="dropdown-item">
                <i class="typcn typcn-eject text-primary"></i>
                Đăng Xuất
              </a>
            </div>
          </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Bảng Điều Khiển</span>
              <!-- <div class="badge badge-danger">new</div> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydanhmuc.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Danh Mục</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlychungloai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Chủng Loại</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlysanpham.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Sản Phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlytaikhoan.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Tài Khoản</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydonhang.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đơn Hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlykhuyenmai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Khuyến Mãi</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydanhgia.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đánh Giá</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card mb-0">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h4 class="card-title mt-3">Danh Sách Sản Phẩm</h4>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-end align-items-end">
                      <button type="button" class="btn btn-inverse-success mb-3" data-toggle="modal"
                        data-target="#addProductModal">Thêm Sản
                        Phẩm</button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>Ảnh Chính</th>
                          <th>Tên SP</th>
                          <th>Giá</th>
                          <th>Số Lượng</th>
                          <th>Thương Hiệu</th>
                          <th>Nguồn Gốc</th>
                          <th>Màu Sắc</th>
                          <th>Chất Liệu</th>
                          <th>Mô Tả</th>
                          <th>Hành Động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img style="width: 90px; height: auto; border-radius: 0px;"
                              src="https://img.ltwebstatic.com/images3_pi/2024/05/10/e9/171531295154d594d8aad0b797e57704147911df0f_thumbnail_900x.webp">
                          </td>
                          <td>Áo Polo Bình Định</td>
                          <td>120.000đ</td>
                          <td>120</td>
                          <td>Vegercy</td>
                          <td>Việt Nam</td>
                          <td>Đỏ</td>
                          <td>Cotton 100%</td>
                          <td>Hông có gì để mô tả cả</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm" data-toggle="modal"
                              data-target="#productDetailModal">Chỉnh Sửa</button></td>
                        </tr>
                        <tr>
                          <td><img style="width: 90px; height: auto; border-radius: 0px;"
                              src="https://img.ltwebstatic.com/images3_pi/2024/05/10/e9/171531295154d594d8aad0b797e57704147911df0f_thumbnail_900x.webp">
                          </td>
                          <td>Áo Polo Bình Định</td>
                          <td>120.000đ</td>
                          <td>120</td>
                          <td>Vegercy</td>
                          <td>Việt Nam</td>
                          <td>Đỏ</td>
                          <td>Cotton 100%</td>
                          <td>Hông có gì để mô tả cả</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm" data-toggle="modal"
                              data-target="#productDetailModal">Chỉnh Sửa</button></td>
                        </tr>
                        <tr>
                          <td><img style="width: 90px; height: auto; border-radius: 0px;"
                              src="https://img.ltwebstatic.com/images3_pi/2024/05/10/e9/171531295154d594d8aad0b797e57704147911df0f_thumbnail_900x.webp">
                          </td>
                          <td>Áo Polo Bình Định</td>
                          <td>120.000đ</td>
                          <td>120</td>
                          <td>Vegercy</td>
                          <td>Việt Nam</td>
                          <td>Đỏ</td>
                          <td>Cotton 100%</td>
                          <td>Hông có gì để mô tả cả</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm" data-toggle="modal"
                              data-target="#productDetailModal">Chỉnh Sửa</button></td>
                        </tr>
                        <tr>
                          <td><img style="width: 90px; height: auto; border-radius: 0px;"
                              src="https://img.ltwebstatic.com/images3_pi/2024/05/10/e9/171531295154d594d8aad0b797e57704147911df0f_thumbnail_900x.webp">
                          </td>
                          <td>Áo Polo Bình Định</td>
                          <td>120.000đ</td>
                          <td>120</td>
                          <td>Vegercy</td>
                          <td>Việt Nam</td>
                          <td>Đỏ</td>
                          <td>Cotton 100%</td>
                          <td>Hông có gì để mô tả cả</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm" data-toggle="modal"
                              data-target="#productDetailModal">Chỉnh Sửa</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="mt-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-secondary">1</button>
                      <button type="button" class="btn btn-outline-secondary">2</button>
                      <button type="button" class="btn btn-outline-secondary">3</button>
                      <button type="button" class="btn btn-outline-secondary">4</button>
                      <button type="button" class="btn btn-outline-secondary"><i
                          class="mdi mdi mdi-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a
                    href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrapdash</a>. All
                  rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Free <a
                    href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrap dashboard</a>
                  templates from Bootstrapdash.com</span>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productDetailModalLabel">Thông Sản Phẩm</h5>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
        <form class="forms-sample">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="">Hình Chính</label>
                    <img style="width: 110px; height: auto; border-radius: 0px;"
                      src="https://img.ltwebstatic.com/images3_pi/2024/05/10/e9/171531295154d594d8aad0b797e57704147911df0f_thumbnail_900x.webp">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Link</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control form-control-sm" placeholder="URL Image">
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="name">Tên Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Tên Sản Phẩm"
                      value="Áo Polo Bình Định">
                  </div>
                  <div class="form-group">
                    <label for="name">Giá Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Giá Sản Phẩm" value="120.000đ">
                  </div>
                  <div class="form-group">
                    <label for="name">Số Lượng Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Số Lượng Sản Phẩm" value="120">
                  </div>
                  <div class="form-group">
                    <label for="name">Thương Hiệu Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Thương Hiệu Sản Phẩm"
                      value="Vegercy">
                  </div>
                  <div class="form-group">
                    <label for="name">Nguồn Gốc Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Nguồn Gốc Sản Phẩm" value="Việt Nam">
                  </div>
                  <div class="form-group">
                    <label for="name">Màu Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Màu Sản Phẩm" value="Đỏ">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Chất Liệu Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Chất Liệu Sản Phẩm"
                      value="Cotton 100%">
                  </div>
                  <div class="form-group">
                    <label for="name">Mô Tả Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Mô Tả Sản Phẩm"
                      value="Hông có gì để mô tả cả">
                  </div>
                  <div class="form-group">
                    <label>Danh Mục Sản Phẩm</label>
                    <select class="form-control">
                      <option>Áo</option>
                      <option>Quần</option>
                      <option>Váy</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Chủng Loại Sản Phẩm</label>
                    <select class="form-control">
                      <option>Áo Polo</option>
                      <option>Áo Thun</option>
                      <option>Áo Cadigan</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">Các Kích Thước Sản Phẩm</label>
                    <div class="form-group row">
                      <div class="col-sm-3 d-flex flex-column align-items-center">
                        <span for="" class="pl-2">S</span>
                        <input type="checkbox" class="form-check-input mb-2" checked>
                        <input type="text" class="form-control form-control-sm" placeholder="Số Lượng"  value="10">
                      </div>
                      <div class="col-sm-3 d-flex flex-column align-items-center">
                        <span for="" class="pl-2">M</span>
                        <input type="checkbox" class="form-check-input mb-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Số Lượng">
                      </div>
                      <div class="col-sm-3 d-flex flex-column align-items-center">
                        <span for="" class="pl-1">L</span>
                        <input type="checkbox" class="form-check-input mb-2" checked>
                        <input type="text" class="form-control form-control-sm" placeholder="Số Lượng" value="10">
                      </div>
                      <div class="col-sm-3 d-flex flex-column align-items-center">
                        <span for="" class="pl-2">XL</span>
                        <input type="checkbox" class="form-check-input mb-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Số Lượng">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div><label for="name">Hình Ảnh Khác Của Sản Phẩm</label></div>
                    <div class="row">
                      <div class="d-flex">
                        <div>
                          <img style="width: 90px; height: auto; border-radius: 0px;"
                            src="https://img.ltwebstatic.com/images3_pi/2024/05/10/e9/171531295154d594d8aad0b797e57704147911df0f_thumbnail_900x.webp">
                          <img style="width: 90px; height: auto; border-radius: 0px;"
                            src="https://img.ltwebstatic.com/images3_pi/2024/05/10/e9/171531295154d594d8aad0b797e57704147911df0f_thumbnail_900x.webp">
                          <img style="width: 90px; height: auto; border-radius: 0px;"
                            src="https://img.ltwebstatic.com/images3_pi/2024/05/10/e9/171531295154d594d8aad0b797e57704147911df0f_thumbnail_900x.webp">
                        </div>
                        <div class="d-flex align-items-center ml-3">
                          <button class="btn btn-inverse-info">Chỉnh Sửa</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Link 1</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="URL Image">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Link 2</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="URL Image">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Link 3</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="URL Image">
                      </div>
                    </div>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-inverse-warning mr-2">Cập Nhập</button>
                    <button type="submit" class="btn btn-inverse-danger mr-2">Xoá</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add product this page-->
  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel">Thêm Sản Phẩm</h5>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
        <form class="forms-sample">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label>Danh Mục Sản Phẩm</label>
                    <select class="form-control">
                      <option>Áo</option>
                      <option>Quần</option>
                      <option>Váy</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Chủng Loại Sản Phẩm</label>
                    <select class="form-control">
                      <option>Áo Polo</option>
                      <option>Áo Thun</option>
                      <option>Áo Cadigan</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Hình Chính</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="Tải lên Hình Ảnh">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Tải lên</button>
                      </span>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Link</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="URL Image">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">Tên Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Tên Sản Phẩm">
                  </div>
                  <div class="form-group">
                    <label for="name">Giá Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Giá Sản Phẩm">
                  </div>
                  <div class="form-group">
                    <label for="name">Số Lượng Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Số Lượng Sản Phẩm">
                  </div>
                  <div class="form-group">
                    <label for="name">Thương Hiệu Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Thương Hiệu Sản Phẩm">
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Nguồn Gốc Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Nguồn Gốc Sản Phẩm">
                  </div>
                  <div class="form-group">
                    <label for="name">Màu Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Màu Sản Phẩm">
                  </div>
                  <div class="form-group">
                    <label for="name">Chất Liệu Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Chất Liệu Sản Phẩm">
                  </div>
                  <div class="form-group">
                    <label for="name">Mô Tả Sản Phẩm</label>
                    <input type="text" class="form-control" id="name" placeholder="Mô Tả Sản Phẩm">
                  </div>
                  <div class="form-group">
                    <label for="name">Các Kích Thước Sản Phẩm</label>
                    <div class="form-group row">
                      <div class="col-sm-3 d-flex flex-column align-items-center">
                        <span for="" class="pl-2">S</span>
                        <input type="checkbox" class="form-check-input mb-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Số Lượng">
                      </div>
                      <div class="col-sm-3 d-flex flex-column align-items-center">
                        <span for="" class="pl-2">M</span>
                        <input type="checkbox" class="form-check-input mb-2 ">
                        <input type="text" class="form-control form-control-sm" placeholder="Số Lượng">
                      </div>
                      <div class="col-sm-3 d-flex flex-column align-items-center">
                        <span for="" class="pl-1">L</span>
                        <input type="checkbox" class="form-check-input mb-2 ">
                        <input type="text" class="form-control form-control-sm" placeholder="Số Lượng">
                      </div>
                      <div class="col-sm-3 d-flex flex-column align-items-center">
                        <span for="" class="pl-2">XL</span>
                        <input type="checkbox" class="form-check-input mb-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Số Lượng">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Hình Ảnh Khác Của Sản Phẩm</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="Tải lên Hình Ảnh">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Tải lên</button>
                      </span>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Link 1</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="URL Image">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Link 2</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="URL Image">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Link 3</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" placeholder="URL Image">
                      </div>
                    </div>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-success mr-2">Thêm Sản Phẩm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End add product for this page-->

  <!-- base:js -->
  <script src="../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../js/off-canvas.js"></script>
  <script src="../js/hoverable-collapse.js"></script>
  <script src="../js/template.js"></script>
  <script src="../js/settings.js"></script>
  <script src="../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script>
    // $(document).ready(function () {
    //   $('#productDetailModal').modal('show');
    // });
    // $(document).ready(function () {
    //   $('#addProductModal').modal('show');
    // });
  </script>
  <script src="../js/file-upload.js"></script>
  <script src="../js/typeahead.js"></script>
  <script src="../js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

</html>