<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sweet-H Admin | Quản Lý Tài Khoản</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css"/>
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
</head>
<body>
  
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav ng-include="'../partials/_navbar.html'" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper" ng-include="'../partials/_settings-panel.html'" >
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar" ng-include="'../partials/_sidebar.html'">
      </nav>
      <!-- partial -->
      <div class="main-panel" ng-controller="AccountController">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-4 grid-margin stretch-card mb-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Thông Tin Tài Khoản</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="Username">Tên Đăng Nhập</label>
                      <input type="text" class="form-control" id="Username" placeholder="Tên Đăng Nhập" ng-model="account.username" ng-disabled="!isAddMode" ng-change="checkUsername(account.username)">
                      <div ng-if="usernameError" class="error">{{ usernameError }}</div>
                    </div>
                    <div class="form-group" ng-show="showPasswordInputs">
                      <label for="Password">Mật khẩu</label>
                      <input type="password" class="form-control" id="Password" placeholder="Mật khẩu" ng-model="account.password" ng-change="checkPassword(account.password)">
                      <div ng-if="passwordError" class="error">{{ passwordError }}</div>
                    </div>
                    <div class="form-group" ng-show="showPasswordInputs">
                      <label for="ConfirmPassword">Nhập lại mật khẩu</label>
                      <input type="password" class="form-control" id="ConfirmPassword" placeholder="Nhập lại mật khẩu" ng-model="confirmPassword" ng-change="checkConfirmPassword(confirmPassword)">
                      <div ng-if="confirmPasswordError" class="error">{{ confirmPasswordError }}</div>
                    </div>
                    <div class="form-group">
                      <label for="Email">Địa Chỉ Email</label>
                      <input type="email" class="form-control" id="Email" placeholder="Địa Chỉ Email" ng-disabled="!isAddMode" ng-model="account.email" ng-change="checkEmail(account.email)">
                      <div ng-if="emailError" class="error">{{ emailError }}</div>
                    </div>
                    <div class="form-group">
                      <label for="Fullname">Họ Và Tên</label>
                      <input type="text" class="form-control" id="Fullname" placeholder="Họ Và Tên" ng-model="account.fullName" ng-disabled="!isAddMode" ng-change="checkFullName(account.fullName)">
                      <div ng-if="fullnameError" class="error">{{ fullnameError }}</div>
                    </div>
                    <div class="form-group">
                      <label for="Phone">Số Điện Thoại</label>
                      <input type="text" class="form-control" id="Phone" placeholder="Số Điện Thoại" ng-model="account.phone" ng-disabled="!isAddMode" ng-change="checkPhone(account.phone)">
                      <div ng-if="phoneError" class="error">{{ phoneError }}</div>
                    </div>
                    <div class="form-group">
                      <label for="Address">Địa Chỉ</label>
                      <input type="text" class="form-control" id="Address" placeholder="Địa Chỉ" ng-model="account.address" ng-disabled="!isAddMode" ng-change="checkAddress(account.address)">
                      <div ng-if="addressError" class="error">{{ addressError }}</div>
                    </div>
                    <div ng-if="message" class="alert mb-2" ng-class="{'alert-success': isSuccess, 'alert-danger': !isSuccess}">{{ message }}</div>
                    <button ng-if="isAddMode" type="submit" class="btn btn-inverse-success mt-2" ng-click="createAccount()">Thêm Nhân Viên</button>
                    <button type="button" class="btn mt-2" ng-class="{'btn-inverse-info': !isAddMode, 'btn-inverse-danger': isAddMode}" ng-click="toggleForm()">{{ isAddMode ? 'Ẩn Form Thêm Nhân Viên' : 'Hiện Form Thêm Nhân Viên' }}</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-8 grid-margin stretch-card mb-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Danh Sách Tài Khoản</h4>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>Hành Động</th>
                          <th>Tên Đăng Nhập</th>
                          <th>Địa Chỉ Email</th>
                          <th>Họ Và Tên</th>
                          <th>Số Điện Thoại</th>
                          <th>Địa Chỉ</th>
                          <th>Phân Quyền</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="account in accounts" ng-class="{ 'table-success': account.id === highlightedAccountId }">
                          <td><button ng-disabled="isAddMode" type="button" class="btn btn-inverse-info btn-sm" ng-click="editAccount(account.id)">Xem Chi Tiết</button></td>
                          <td>{{ account.username }}</td>
                          <td>{{ account.email }}</td>
                          <td>{{ account.fullName }}</td>
                          <td>{{ account.phone }}</td>
                          <td>{{ account.address }}</td>
                          <td>{{ account.role }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="mt-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-secondary" ng-disabled="currentPage === 0"
                              ng-click="previousPage()"><i class="mdi mdi-chevron-double-left"></i></button>
                      <button type="button" class="btn btn-outline-secondary" ng-repeat="page in paginationButtons"
                              ng-class="{ 'btn-primary': page === currentPage }" ng-click="goToPage(page)">
                        {{ page + 1 }}
                      </button>
                      <button type="button" class="btn btn-outline-secondary"
                              ng-disabled="currentPage === totalPages - 1" ng-click="nextPage()"><i
                              class="mdi mdi-chevron-double-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer" ng-include="'../partials/_footer.html'">
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../vendors/chart.js/Chart.min.js"></script>
<!--  &lt;!&ndash; End plugin js for this page&ndash;&gt;-->
<!--  &lt;!&ndash; inject:js &ndash;&gt;-->
  <script src="../js/off-canvas.js"></script>
  <script src="../js/hoverable-collapse.js"></script>
  <script src="../js/template.js"></script>
  <script src="../js/settings.js"></script>
  <script src="../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../js/angular/angular.min.js"></script>
  <script src="../jsAdmin/app.js"></script>
  <script src="../jsAdmin/loginlogout.js"></script>
  <script src="../jsAdmin/account/accountService.js"></script>
  <script src="../jsAdmin/account/accountController.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

