<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sweet-H Admin | Quản Lý Chủng Loại</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
</head>

<body>
x
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="../index.html"><img src="../images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="../index.html"><img src="../images/logo-mini.svg"
              alt="logo" /></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="../images/avatar.jpg" alt="profile" />
              <span class="nav-profile-name">Trần Văn Nhân</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">

              <a class="dropdown-item">
                <i class="typcn typcn-eject text-primary"></i>
                Đăng Xuất
              </a>
            </div>
          </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Bảng Điều Khiển</span>
              <!-- <div class="badge badge-danger">new</div> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydanhmuc.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Danh Mục</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlychungloai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Chủng Loại</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlysanpham.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Sản Phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlytaikhoan.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Tài Khoản</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydonhang.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đơn Hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlykhuyenmai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Khuyến Mãi</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydanhgia.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đánh Giá</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel" ng-controller="CategoryController">
        <div class="content-wrapper mb-0 pb-0">
          <div class="row mb-0">
            <div class="col-md-4 grid-margin stretch-card mb-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Thông Tin Chủng Loại</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="name">Tên Chủng Loại</label>
                      <input type="text" class="form-control" id="name" ng-model="category.name" placeholder="Tên Chủng Loại">
                    </div>
                    <div class="form-group">
                      <label for="categorySelect">Thuộc Danh Mục</label>
                      <select class="form-control form-control-lg" id="categorySelect" ng-model="category.itemId" ng-options="item.id as item.name for item in items">
                        <option value="">Chọn Danh Mục</option>
                      </select>
                    </div>
                    <div ng-show="message" class="alert" ng-class="{'alert-success': isSuccess, 'alert-danger': !isSuccess}">{{ message }}</div>
                    <div>
                      <button type="button" class="btn btn-inverse-success mr-2" ng-click="createCategory()" ng-show="!isEditMode">Thêm</button>
                      <button type="button" class="btn btn-inverse-warning mr-2" ng-click="updateCategory()" ng-show="isEditMode">Cập Nhật</button>
                      <button type="button" class="btn btn-inverse-danger mr-2" ng-click="deleteCategory(category.id)" ng-show="isEditMode">Xoá</button>
                      <button type="button" class="btn btn-inverse-info mr-2" ng-click="resetForm()">Làm Mới</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-8 grid-margin stretch-card mb-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Danh Sách Chủng Loại</h4>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                      <tr>
                        <th>Tên Chủng Loại</th>
                        <th>Thuộc Danh Mục</th>
                        <th>Số Sản Phẩm</th>
                        <th>Hành Động</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="cat in categories" ng-class="{ 'table-success': cat.id === highlightedCategoryId }">
                        <td>{{ cat.name }}</td>
                        <td>{{ cat.itemName }}</td>
                        <td>{{ cat.productCount }}</td>
                        <td>
                          <button type="button" class="btn btn-inverse-info btn-sm" ng-click="editCategory(cat.id)">Chỉnh Sửa</button>
                          <button type="button" class="btn btn-inverse-danger btn-sm" ng-click="deleteCategory(cat.id)">Xoá</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="mt-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-secondary" ng-disabled="currentPage === 0" ng-click="previousPage()">
                        <i class="mdi mdi-chevron-double-left"></i>
                      </button>
                      <button type="button" class="btn btn-outline-secondary" ng-repeat="page in paginationButtons"
                              ng-class="{ 'btn-primary': page === currentPage }" ng-click="goToPage(page)">
                        {{ page + 1 }}
                      </button>
                      <button type="button" class="btn btn-outline-secondary" ng-disabled="currentPage === totalPages - 1" ng-click="nextPage()">
                        <i class="mdi mdi-chevron-double-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--          <div class="row mb-0">-->
<!--            <div class="col-md-4 grid-margin stretch-card mb-0">-->
<!--              <div class="card">-->
<!--                <div class="card-body">-->
<!--                  <h4 class="card-title">Thông Tin Chủng Loại</h4>-->
<!--                  <form class="forms-sample" ng-submit="createOrUpdateCategory()">-->
<!--                    <div class="form-group">-->
<!--                      <label for="name">Tên Chủng Loại</label>-->
<!--                      <input type="text" class="form-control" id="name" ng-model="category.name" placeholder="Tên Chủng Loại">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="categorySelect">Thuộc Danh Mục</label>-->
<!--                      <select class="form-control form-control-lg" id="categorySelect" ng-model="category.itemId" ng-options="item.id as item.name for item in items track by cat.id">-->
<!--                        <option value="">Chọn Danh Mục</option>-->
<!--                      </select>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <button type="submit" class="btn btn-inverse-success mr-2">Thêm</button>-->
<!--                      <button type="button" class="btn btn-inverse-warning mr-2" ng-click="updateCategory()">Cập Nhật</button>-->
<!--                      <button type="button" class="btn btn-inverse-danger mr-2" ng-click="deleteCategory()">Xoá</button>-->
<!--                      <button type="button" class="btn btn-inverse-info mr-2 mt-2" ng-click="resetForm()">Làm Mới</button>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-lg-8 grid-margin stretch-card mb-0">-->
<!--              <div class="card">-->
<!--                <div class="card-body">-->
<!--                  <h4 class="card-title">Danh Sách Chủng Loại</h4>-->
<!--                  <div class="table-responsive">-->
<!--                    <table class="table table-hover table-bordered">-->
<!--                      <thead>-->
<!--                      <tr>-->
<!--                        <th>Tên Chủng Loại</th>-->
<!--                        <th>Thuộc Danh Mục</th>-->
<!--                        <th>Số Sản Phẩm</th>-->
<!--                        <th>Hành Động</th>-->
<!--                      </tr>-->
<!--                      </thead>-->
<!--                      <tbody>-->
<!--                      <tr ng-repeat="cat in categories">-->
<!--                        <td>{{ cat.name }}</td>-->
<!--                        <td>{{ cat.itemName }}</td>-->
<!--                        <td>{{ cat.productCount }}</td>-->
<!--                        <td>-->
<!--                          <button type="button" class="btn btn-inverse-info btn-sm" ng-click="editCategory(cat.id)">Chỉnh Sửa</button>-->
<!--                          <button type="button" class="btn btn-inverse-danger btn-sm" ng-click="deleteCategory(cat.id)">Xoá</button>-->
<!--                        </td>-->
<!--                      </tr>-->
<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </div>-->
<!--                  <div class="mt-2">-->
<!--                    <div class="btn-group" role="group" aria-label="Basic example">-->
<!--                      <button type="button" class="btn btn-outline-secondary" ng-disabled="currentPage === 0" ng-click="previousPage()">-->
<!--                        <i class="mdi mdi-chevron-double-left"></i>-->
<!--                      </button>-->
<!--                      <button type="button" class="btn btn-outline-secondary" ng-repeat="page in paginationButtons"-->
<!--                              ng-class="{ 'btn-primary': page === currentPage }" ng-click="goToPage(page)">-->
<!--                        {{ page + 1 }}-->
<!--                      </button>-->
<!--                      <button type="button" class="btn btn-outline-secondary" ng-disabled="currentPage === totalPages - 1" ng-click="nextPage()">-->
<!--                        <i class="mdi mdi-chevron-double-right"></i>-->
<!--                      </button>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer mt-0">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a
                    href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrapdash</a>. All
                  rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Free <a
                    href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrap dashboard</a>
                  templates from Bootstrapdash.com</span>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../js/off-canvas.js"></script>
  <script src="../js/hoverable-collapse.js"></script>
  <script src="../js/template.js"></script>
  <script src="../js/settings.js"></script>
  <script src="../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../js/angular/angular.min.js"></script>
  <script src="../jsAdmin/app.js"></script>
  <script src="../jsAdmin/category/categoryService.js"></script>
  <script src="../jsAdmin/item/itemService.js"></script>
  <script src="../jsAdmin/category/categoryController.js"></script>
  <!-- End custom js for this page-->
</body>

</html>