<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sweet-H Admin | Quản Lý Khuyến Mãi</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css"/>
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
</head>
<body>
  
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="../index.html"><img src="../images/logo.svg" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="../index.html"><img src="../images/logo-mini.svg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="../images/faces/face5.jpg" alt="profile"/>
              <span class="nav-profile-name">Trần Văn Nhân</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              
              <a class="dropdown-item">
                <i class="typcn typcn-eject text-primary"></i>
                Đăng Xuất
              </a>
            </div>
          </li>
        </ul>
        
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="typcn typcn-th-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close typcn typcn-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Bảng Điều Khiển</span>
              <!-- <div class="badge badge-danger">new</div> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydanhmuc.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Danh Mục</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlychungloai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Chủng Loại</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlysanpham.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Sản Phẩm</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlytaikhoan.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Tài Khoản</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydonhang.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đơn Hàng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlykhuyenmai.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Khuyến Mãi</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quanlydanhgia.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Quản Lý Đánh Giá</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper mb-0 pb-0">
          <div class="row mb-0">
            <div class="col-md-4 grid-margin stretch-card mb-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Thông Tin Mã Khuyến Mãi</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="Username">Mã Khuyến Mãi</label>
                      <input type="text" class="form-control" id="Username" placeholder="Mã Khuyến Mãi">
                    </div>
                    <div class="form-group">
                      <label for="Email">Số Tiền Khuyến Mãi</label>
                      <input type="email" class="form-control" id="Email" placeholder="Số Tiền Khuyến Mãi">
                    </div>
                    <div class="form-group">
                      <label for="Fullname">Điều Kiện</label>
                      <input type="text" class="form-control" id="Fullname" placeholder="Điều Kiện">
                    </div>
                    <div class="form-group">
                      <label for="Phone">Áp Dụng Từ</label>
                      <input type="text" class="form-control" id="Phone" placeholder="Áp Dụng Từ">
                    </div>
                    <div class="form-group">
                      <label for="Address">Áp Dụng Đến</label>
                      <input type="text" class="form-control" id="Address" placeholder="Áp Dụng Đến">
                    </div>
                    <div class="form-group">
                      <label for="Address">Ngày Tạo</label>
                      <input type="text" class="form-control" id="Address" placeholder="Áp Dụng Đến">
                    </div>
                    <button type="submit" class="btn btn-inverse-success mr-2">Thêm</button>
                    <button type="submit" class="btn btn-inverse-warning mr-2">Sửa</button>
                    <button type="submit" class="btn btn-inverse-danger mr-2">Xoá</button>
                    <button type="submit" class="btn btn-inverse-info mt-2">Làm Mới</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-lg-8 grid-margin stretch-card mb-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Danh Sách Khuyến Mãi</h4>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>Mã KM</th>
                          <th>Số Tiền KM</th>
                          <th>Điều Kiện</th>
                          <th>Áp Dụng Từ</th>
                          <th>Áp Dụng Đến</th>
                          <th>Ngày Tạo</th>
                          <th>Hành Động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>KM001</td>
                          <td>50.000đ</td>
                          <td>300.000đ</td>
                          <td>20:00PM-30/05/2024</td>
                          <td>20:00PM-02/06/2024</td>
                          <td>20:00PM-29/05/2024</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm">Chỉnh Sửa</button></td>
                        </tr>
                        <tr>
                          <td>KM001</td>
                          <td>50.000đ</td>
                          <td>300.000đ</td>
                          <td>20:00PM-30/05/2024</td>
                          <td>20:00PM-02/06/2024</td>
                          <td>20:00PM-29/05/2024</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm">Chỉnh Sửa</button></td>
                        </tr>
                        <tr>
                          <td>KM001</td>
                          <td>50.000đ</td>
                          <td>300.000đ</td>
                          <td>20:00PM-30/05/2024</td>
                          <td>20:00PM-02/06/2024</td>
                          <td>20:00PM-29/05/2024</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm">Chỉnh Sửa</button></td>
                        </tr>
                        <tr>
                          <td>KM001</td>
                          <td>50.000đ</td>
                          <td>300.000đ</td>
                          <td>20:00PM-30/05/2024</td>
                          <td>20:00PM-02/06/2024</td>
                          <td>20:00PM-29/05/2024</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm">Chỉnh Sửa</button></td>
                        </tr>
                        <tr>
                          <td>KM001</td>
                          <td>50.000đ</td>
                          <td>300.000đ</td>
                          <td>20:00PM-30/05/2024</td>
                          <td>20:00PM-02/06/2024</td>
                          <td>20:00PM-29/05/2024</td>
                          <td><button type="button" class="btn btn-inverse-info btn-sm">Chỉnh Sửa</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="mt-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-secondary">1</button>
                      <button type="button" class="btn btn-outline-secondary">2</button>
                      <button type="button" class="btn btn-outline-secondary">3</button>
                      <button type="button" class="btn btn-outline-secondary">4</button>
                      <button type="button" class="btn btn-outline-secondary"><i class="mdi mdi mdi-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer mt-0">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Free <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrap dashboard</a> templates from Bootstrapdash.com</span>
                    </div>
                </div>    
            </div>        
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../js/off-canvas.js"></script>
  <script src="../js/hoverable-collapse.js"></script>
  <script src="../js/template.js"></script>
  <script src="../js/settings.js"></script>
  <script src="../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  
  <!-- End custom js for this page-->
</body>

</html>

